.mainview {
  position: relative;

  @include mq(md) {
    height: rem(364);
    background: url(../images/top/mainview@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
  }

  @include mq(xl) {
    height: rem(420);
    background: url(../images/top/mainview-xxl@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
  }

  &__background {
    position: absolute;
    width: 100%;
    max-height: rem(260);
    overflow: hidden;
    top: 0;

    @include mq(md) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
      justify-content: right;
    }
  }

  &__catch-copy {
    position: relative;
    z-index: 3;
    margin-left: auto;

    @include mq(md) {
      display: flex;
      max-width: rem(375);
      width: 100%;
      margin-left: clamp(200px, 22.5%, 250px);
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__main-copy {
    max-width: clamp(220px, 70%, 400px);
    margin-top: rem(48);
    margin-bottom: rem(8);
    margin-left: auto;

    @include mq(md) {
      max-width: rem(375);
      width: 100%;
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__thumbnail {
    margin: 0;
    width: rem(61);
    height: rem(48);

    @include mq(md) {
      width: rem(66);
      height: rem(52);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__select {
    display: flex;
    flex-direction: column;
    border-radius: rem(4);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: rem(24);
    position: relative;
    z-index: 3;

    @include mq(md) {
      max-width: rem(436);
      margin-top: 0;
      margin-left: rem(35);
    }
  }

  &__top {
    background: linear-gradient(#0092ed 0%, #006aac 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(6) rem(6) 0 0;
    padding-left: rem(6);
    padding-right: rem(6);
  }

  &__title {
    color: $white;
    line-height: 1.5;
    font-size: rem(15);

    @include mq(md) {
      font-size: rem(18);
      margin: rem(10) rem(13) rem(10) rem(16);
    }
  }

  &__text--bold {
    font-weight: $bold;
  }

  &__bottom {
    background: $white;
    border-radius: 0 0 rem(6) rem(6);
    position: relative;

    &:before {
      position: absolute;
      content: url(../images/top/dot-select-blue.svg);
      transform: rotate(180deg);
      top: rem(6);
      left: rem(12);
      z-index: 2;
    }

    &:after {
      position: absolute;
      content: url(../images/top/dot-select-blue.svg);
      bottom: rem(6);
      right: rem(12);
      z-index: 2;
    }
  }

  &__top-image {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__wrapper {
    padding: rem(12);

    @include mq(md) {
      padding: rem(12);
      margin-left: rem(16);
      margin-right: rem(16);
    }

    @media (max-width: 1140px) and (min-width: 768px) {
      padding: rem(12) 0;
    }

    .mainview__text {
      position: relative;
      z-index: 99;
    }
  }

  &__text {
    font-size: rem(14);

    @include mq(md) {
      font-size: rem(16);
    }
  }

  &__text--bold {
    font-weight: $bold;
  }

  &__select-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: rem(6);
    position: relative;
    z-index: 3;

    @include mq(md) {
      gap: rem(12);
    }

    @media (max-width: 1140px) and (min-width: 768px) {
      grid-template-columns: 1fr;
      max-width: rem(210);
      margin: auto;
      margin-bottom: rem(16);
    }
  }

  &__radio {
    border-radius: 4px;
    background: #f0f0f0;
    border: 1px solid #e5e5e5;
    height: rem(32);
    display: flex;
    align-items: center;
    margin-bottom: rem(16);

    @media (max-width: 1140px) and (min-width: 768px) {
      margin-bottom: 0;
    }

    label {
      padding: rem(6) rem(4) rem(6) rem(26);
      font-weight: $medium;
      display: block;
      position: relative;
      margin: rem(8) 0;
      cursor: pointer;
      user-select: none;

      @include mq(md) {
        padding: rem(6) rem(10) rem(6) rem(32);
      }
    }

    input {
      display: none;
    }

    input:checked + .btn__checkmark::after {
      opacity: 1;
    }

    .btn__checkmark {
      &:after {
        background: #0091eb;
      }
    }
  }

  &__text--small {
    font-size: rem(11);

    @include mq(md) {
      font-size: rem(14);
    }
  }

  &__link {
    text-align: center;
    margin-bottom: rem(20);
    position: relative;
    z-index: 3;
    max-width: rem(140);
    margin-left: auto;
    margin-right: auto;

    @include mq(md) {
      max-width: 100%;
    }
  }
}
