.u-delay-time1 {
  animation-delay: 0.3s;
}

.u-delay-time2 {
  animation-delay: 0.6s;
}

.u-delay-time3 {
  animation-delay: 0.9s;
}

.u-delay-time4 {
  animation-delay: 1.2s;
}

.u-delay-time5 {
  animation-delay: 1.5s;
}

.u-delay-time6 {
  animation-delay: 1.8s;
}

.u-delay-time7 {
  animation-delay: 2.1s;
}

.u-delay-time8 {
  animation-delay: 2.4s;
}

.u-delay-time9 {
  animation-delay: 2.7s;
}

.u-delay-time10 {
  animation-delay: 3s;
}
