.u-text-xs {
  font-size: rem(12);
  line-height: 1rem;
}

.u-mobile-text-xs {
  @media screen and (max-width: 767px) {
    font-size: rem(12);
    line-height: 1rem;
  }
}

.u-desktop-text-xs {
  @include mq("md") {
    font-size: rem(12);
    line-height: 1rem;
  }
}

.u-text-sm {
  font-size: rem(14);
  line-height: 1.25rem;
}

.u-mobile-text-sm {
  @media screen and (max-width: 767px) {
    font-size: rem(14);
    line-height: 1.25rem;
  }
}

.u-desktop-text-sm {
  @include mq("md") {
    font-size: rem(14);
    line-height: 1.25rem;
  }
}

.u-text-base {
  font-size: rem(16);
  line-height: 1.5rem;
}

.u-mobile-text-base {
  @media screen and (max-width: 767px) {
    font-size: rem(16);
    line-height: 1.5rem;
  }
}

.u-desktop-text-base {
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5rem;
  }
}

.u-text-lg {
  font-size: rem(18);
  line-height: 1.75rem;
}

.u-mobile-text-lg {
  @media screen and (max-width: 767px) {
    font-size: rem(18);
    line-height: 1.75rem;
  }
}

.u-desktop-text-lg {
  @include mq("md") {
    font-size: rem(18);
    line-height: 1.75rem;
  }
}

.u-text-xl {
  font-size: rem(20);
  line-height: 1.75rem;
}

.u-mobile-text-xl {
  @media screen and (max-width: 767px) {
    font-size: rem(20);
    line-height: 1.75rem;
  }
}

.u-desktop-text-xl {
  @include mq("md") {
    font-size: rem(20);
    line-height: 1.75rem;
  }
}

.u-text-2xl {
  font-size: rem(24);
  line-height: 2rem;
}

.u-mobile-text-2xl {
  @media screen and (max-width: 767px) {
    font-size: rem(24);
    line-height: 2rem;
  }
}

.u-desktop-text-2xl {
  @include mq("md") {
    font-size: rem(24);
    line-height: 2rem;
  }
}

.u-text-3xl {
  font-size: rem(30);
  line-height: 2.25rem;
}

.u-mobile-text-3xl {
  @media screen and (max-width: 767px) {
    font-size: rem(30);
    line-height: 2.25rem;
  }
}

.u-desktop-text-3xl {
  @include mq("md") {
    font-size: rem(30);
    line-height: 2.25rem;
  }
}

.u-text-4xl {
  font-size: rem(36);
  line-height: 2.5rem;
}

.u-mobile-text-4xl {
  @media screen and (max-width: 767px) {
    font-size: rem(36);
    line-height: 2.5rem;
  }
}

.u-desktop-text-4xl {
  @include mq("md") {
    font-size: rem(36);
    line-height: 2.5rem;
  }
}

.u-text-5xl {
  font-size: rem(48);
  line-height: 1;
}

.u-mobile-text-5xl {
  @media screen and (max-width: 767px) {
    font-size: rem(48);
    line-height: 1;
  }
}

.u-desktop-text-5xl {
  @include mq("md") {
    font-size: rem(48);
    line-height: 1;
  }
}

.u-text-6xl {
  font-size: rem(60);
  line-height: 1;
}

.u-mobile-text-6xl {
  @media screen and (max-width: 767px) {
    font-size: rem(60);
    line-height: 1;
  }
}

.u-desktop-text-6xl {
  @include mq("md") {
    font-size: rem(60);
    line-height: 1;
  }
}

.u-text-7xl {
  font-size: rem(72);
  line-height: 1;
}

.u-mobile-text-7xl {
  @media screen and (max-width: 767px) {
    font-size: rem(72);
    line-height: 1;
  }
}

.u-desktop-text-7xl {
  @include mq("md") {
    font-size: rem(72);
    line-height: 1;
  }
}

.u-text-8xl {
  font-size: rem(96);
  line-height: 1;
}

.u-mobile-text-8xl {
  @media screen and (max-width: 767px) {
    font-size: rem(96);
    line-height: 1;
  }
}

.u-desktop-text-8xl {
  @include mq("md") {
    font-size: rem(96);
    line-height: 1;
  }
}

.u-text-9xl {
  font-size: rem(128);
  line-height: 1;
}

.u-mobile-text-9xl {
  @media screen and (max-width: 767px) {
    font-size: rem(128);
    line-height: 1;
  }
}

.u-desktop-text-9xl {
  @include mq("md") {
    font-size: rem(128);
    line-height: 1;
  }
}
