.archive-grid {
  background: #eff9ff;

  &__inner {
    padding-top: rem(32);
    padding-bottom: rem(32);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: rem(20);

    @include mq(md) {
      grid-template-columns: 1fr 1fr;
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }

  &__content {
    background: $white;
    border: solid rem(1) #e5e5e5;
    border-radius: rem(8);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: rem(24);
    padding: rem(16);

    @include mq(md) {
      grid-template-columns: 80px 1fr;
      grid-template-rows: 1fr;
      gap: rem(20);
    }
  }

  &__head {
    display: grid;
    align-items: center;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    gap: rem(20);

    @include mq(md) {
      display: block;
      width: rem(80);
      height: rem(80);
    }
  }

  &__thumbnail {
    aspect-ratio: 1/1;
    width: 80px;
    height: 80px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: rem(20);
    margin-bottom: rem(12);

    @include mq(md) {
      margin-bottom: rem(8);
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: underline;
      font-size: rem(14);

      @include mq(md) {
        font-size: rem(16);
      }
    }
  }

  &__heading {
    @include mq(md) {
      margin-bottom: rem(8);
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: $bold;
    line-height: 1.7;
    color: #0091eb;

    @include mq(md) {
      font-size: rem(20);
    }
  }
}
