.column {
  background: #eff9ff;

  &__inner {
    padding-top: rem(48);
    padding-bottom: rem(32);

    @include mq(md) {
      padding-top: rem(64);
      padding-bottom: rem(64);
    }
  }

  .post-column__heading {
    h1,
    h2 {
      border-left: none;
    }
  }
}
